<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Virat:
        MS Dhoni’s words hit home for me because I have always been looked at as someone who is very confident, mentally very strong, who can endure any circumstances and find a way and show us the way,
    </h1></center>
    <center><a href="{% url 'cskteam:msd' %}"><h1>MSD RESPONSE</h1></a></center>
</body>
</html>